<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <h1> The Home page <%= 3 + 4%> </h1>
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum dolores eaque impedit aperiam earum optio, asperiores qui deserunt omnis voluptatum fugiat temporibus recusandae maiores ab natus suscipit quae ratione laborum!
    Maiores quisquam, eos odio accusamus, porro obcaecati voluptates voluptatum dicta temporibus corrupti et inventore. Incidunt soluta, iste dolores ratione totam quidem eos doloremque! Maxime laborum similique necessitatibus expedita rem dolorum.
    Repellendus temporibus dolor dolorum commodi laborum, minus debitis! Numquam architecto alias impedit suscipit perspiciatis mollitia, fugit commodi doloribus, quibusdam, quasi error repudiandae quisquam! Voluptates aliquid, deleniti error odit dolor amet?
    Inventore reiciendis explicabo rerum et neque iste molestias hic adipisci corrupti voluptas sapiente suscipit reprehenderit quae minus temporibus ratione praesentium vel quidem tempore, soluta dicta. Exercitationem sapiente in quasi numquam!</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, eius, molestias debitis sunt cum porro velit iste labore nihil officiis, sapiente hic nostrum harum. Rem excepturi recusandae inventore unde quam?
    Porro tenetur magnam cumque sunt. Quod eum ad eaque magnam. Delectus at reiciendis modi sed, iure illo impedit reprehenderit, nihil minus, esse accusamus aliquid. Nostrum minima aspernatur quod beatae et.
    Commodi facere molestias repudiandae esse quia? Maiores enim cupiditate, inventore vel facere nobis assumenda. Consequatur recusandae totam dolorum in, eos cupiditate ullam nisi ipsa ab explicabo ipsum temporibus reprehenderit est.</p>
    



</body>
</html>