<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A Farm</title>
</head>
<body>
    <h1>Add New Product</h1>
    <form action="/farms" method="post">
        <div>
            <label for="name">Farm Name: </label>
            <input type="text" id="name" name="name" placeholder="enter name">
        </div>
        <div>
            <label for="city">City: </label>
            <input type="text" id="city" name="city" placeholder="enter cityName">
        </div>
        <div>
            <label for="email">email: </label>
            <input type="email" id="email" name="email" placeholder="enter email">
        </div>
        
        <button type="submit">submit</button>
        <button type="button"><a href="/farms">back</a> </button>
    </form>
</body>
</html>